* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* top content section start  */

.top-content-section {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  height: 480px;
}

/* top navbar section start  */

.top-nav-section {
  border-bottom: 1px solid rgba(128, 208, 199, 0.35);
  background-image: linear-gradient(
    15deg,
    rgb(87 161 170) 0%,
    rgb(121 200 194) 90%
  );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.navbar-toggler {
  box-shadow: none !important;
}

.navbar-toggler span {
  margin: 0;
  font-size: 28px;
  color: black;
}

.navbar-div ul {
  margin: 0 auto;
}

.navbar-div ul li {
  margin: 0 10px;
}

.navbar-div ul li a {
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.navbar-div ul li a.active,
.navbar-div ul li a:hover,
.navbar-div ul li a:focus {
  color: #13547a;
  text-shadow: 2px 2px 4px rgb(78, 78, 78);
}

.icon-box i {
  padding: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-weight: normal !important;
  color: rgb(0, 0, 0);
  background-color: #fff;
  transition: 0.5s;
  text-align: center;
  font-size: 20px;
}

.icon-box i:hover {
  background-color: #13547a;
  color: #fff;
  box-shadow: 2px 2px 4px rgb(78, 78, 78);
}

.dropdown-ul {
  background-color: #13547a;
  border-radius: 5px;
}

.dropdown-ul li a {
  font-size: 14px !important;
}

.dropdown-ul li a:hover {
  color: #80d0c7 !important;
  background: none !important;
}

/* top navbar section End  */

.content-box {
  margin: 60px 0;
  padding: 90px 0 0 0;
}

.content-box h1 {
  text-align: center;
  font-size: 58px;
  font-weight: bold;
  color: #ffffff !important;
  letter-spacing: 0.5px;
}

.content-box p {
  text-align: center;
  font-size: 22px;
  color: #13547a;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 0 8px 0;
}

.content-box .inp-box {
  width: 65%;
  height: 70px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 4px rgb(77, 77, 77);
}

.content-box .inp-box input {
  background: none;
  height: 100%;
  width: 75%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
}

.content-box .inp-box i {
  font-size: 24px;
  margin-left: 10px;
  color: rgb(58, 58, 58);
  padding: 5px 3px 0 0;
}

.content-box .inp-box .search-btn {
  padding: 12px 35px;
  text-decoration: none;
  border-radius: 30px;
  background-color: #80d0c7;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}

.content-box .inp-box .search-btn:hover {
  background-color: #13547a;
  box-shadow: 2px 2px 4px rgb(78, 78, 78);
}

/* top content section End  */

/* card section start  */

.card-box {
  background-color: #80d0c7;
  border-radius: 0 0 80px 80px;
}

.colum-left {
  margin: 0 0 0 auto;
}

.colum-right {
  margin: 0 auto 0 0;
}

.left-box-text {
  position: relative;
  right: 0;
  bottom: 90px;
  background: #ffffff;
  transition: 0.5s;
  height: 480px;
  border-radius: 20px;
}

.left-box-text:hover {
  bottom: 95px;
}

.web-text {
  width: 85%;
  margin: 0 auto;
}

.web-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 0 0;
}

.web-heading h2 {
  font-size: 24px;
}

.web-heading a {
  text-decoration: none;
  padding: 6px 8px;
  font-weight: bold;
  background-color: #00b0ff;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
}

.web-heading a:hover {
  box-shadow: 2px 2px 4px rgb(78, 78, 78);
  color: #fff;
}

.left-box-text p {
  font-size: 20px;
  letter-spacing: 0.5px;
  color: grey;
  padding: 0 10px 0 0;
}

.left-box-text img {
  height: 200px;
  width: auto;
  display: block;
  margin: 40px auto 10px auto;
}

.right-box-text {
  position: relative;
  right: 0;
  bottom: 90px;
  transition: 0.5s;
  background: url("./img/topics/img2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 480px;
  border-radius: 20px;
}

.section-overlay {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  border-radius: 20px;
}

.right-box-text:hover {
  bottom: 95px;
}

.finance-text {
  width: 90%;
  margin: 0 auto;
}

.finance-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 0 0;
}

.finance-section-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}

.finance-heading h2 {
  font-size: 25px;
  color: #fff;
}

.finance-heading a {
  text-decoration: none;
  padding: 6px 8px;
  font-weight: bold;
  font-size: 12px;
  background-color: #536dfe;
  color: #fff;
  border-radius: 5px;
}

.finance-heading a:hover {
  box-shadow: 2px 2px 4px rgb(78, 78, 78);
  color: #fff;
}

.right-box-text p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 0 10px 0 0;
}

.learn-btn-box {
  margin: 40px 0;
}

.learn-more-btn {
  text-decoration: none;
  padding: 13px 20px;
  border-radius: 30px;
  background-color: #80d0c7;
  color: #fff;
  letter-spacing: 0.5s;
  font-weight: 600;
  font-size: 17px;
  transition: 0.5s;
}

.learn-more-btn:hover {
  background-color: #13547a;
  color: #fff;
  box-shadow: 2px 2px 4px rgb(78, 78, 78);
}

.shere-box {
  margin: 150px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icons span {
  font-size: 20px;
  color: #fff;
  margin-right: 15px;
}
.social-icons i {
  padding: 7px;
  border-radius: 50px;
  margin: 0 5px;
  background-color: #80d0c7;
  color: #fff;
  transition: 0.5s;
}
.social-icons i:hover {
  background-color: #13547a;
  box-shadow: 2px 2px 4px rgb(78, 78, 78);
}

.fovrite {
  font-size: 24px;
  color: #fff;
}
.fovrite:hover,
.fovrite:focus {
  color: #13547a !important;
  text-shadow: 2px 2px 4px rgb(78, 78, 78);
}

/* card section End  */

/* topic section start  */

.browse-topics-section {
  padding: 80px 0 0 0;
}

.browse-box h1 {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 24px auto;
  letter-spacing: 0.5px;
}

.topics-section {
  border-bottom: 1px rgb(231, 231, 231) solid;
  margin-bottom: 40px;
}

.topic-ul {
  width: fit-content;
  margin: 0 auto;
  border: none;
  padding: 0;
}
.topic-ul li {
  margin: 0 15px;
}
.topic-ul li button {
  border: none !important;
  background: none !important;
  font-size: 18px;
  color: #636363;
  padding: 15px 25px;
  transition: all 0.3s;
  letter-spacing: 1px;
}
.topic-ul li button.active,
.topic-ul li button:focus,
.topic-ul li button:hover {
  border-bottom: solid 1px #13547a !important;
  color: #13547a;
}

/* topic section End  */

/* topic card section Start */

.topic-card-section {
  margin-bottom: 90px;
}

.web-design-box,
.graphic-design-box,
.logo-design-box {
  border-radius: 20px;
  padding: 20px 0 0 0;
  transition: 0.5s;
  height: 370px;
  box-shadow: 2px 2px 4px rgb(226, 226, 226), -2px -2px 4px rgb(226, 226, 226);
}

.web-design-box:hover,
.graphic-design-box:hover,
.logo-design-box:hover {
  margin-top: 10px !important;
}

.design-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.design-text {
  width: 90%;
  margin: 0 auto;
}

.design-heading h2 {
  font-size: 24px;
  font-weight: 600;
}

.design-heading a {
  text-decoration: none;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: #00b0ff;
  color: #fff;
  transition: 0.5s;
}
.design-heading a:hover {
  box-shadow: 2px 2px 4px rgb(78, 78, 78);
  color: #fff;
}

.design-text p {
  font-size: 20px;
  padding: 6px 38px 0 0;
  margin: 0 !important;
  color: #636363;
}

.design-text img {
  width: 100%;
  height: 230px;
}

/* topic card section End */

/* how it work section Start  */

.how-it-work {
  background: url("./img/topics/img5.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 1050px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.work-it-overlay {
  border-radius: 0 !important;
}

.work-it-box {
  padding: 100px 0 0 0;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}

.work-text-box h1 {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  color: #fff;
}

.timeline-ul {
  padding: 0;
}

.timeline-items {
  display: flex !important;
  justify-content: space-between;
  position: relative;
  padding: 0px 0px 45px 0px;
}

.icon-holder {
  width: 270px;
  height: 120px !important;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13547a;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.icon-line::before {
  content: "";
  width: 8px;
  height: 300px;
  background-color: #13547a;
  position: absolute;
  top: 0;
  left: 45%;
  z-index: -1;
}

.icon-holder i {
  border: solid 3px white;
  padding: 28px;
  border-radius: 100%;
  font-size: 30px;
  color: #fff;
}

.timeline-text {
  padding: 25px 20px 0 30px;
  color: #fff;
}

.timeline-text h2 {
  font-weight: bold;
  font-size: 28px;
  margin: 0 0 16px 0;
}

.timeline-text p {
  font-size: 19px;
  line-height: 40px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.check-it-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.check-it-btn-box .learn-more,
.check-it-btn-box .check-out {
  padding: 20px 15px;
}

.check-it-btn-box .learn-more p {
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}

.check-it-btn-box .check-out a {
  border: solid 2px #80d0c7;
  text-decoration: none;
  color: #80d0c7;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 30px;
  transition: 0.5s;
}

.check-it-btn-box .check-out a:hover {
  background-color: #80d0c7;
  color: #fff;
}

/* how it work section End  */

/* FaQs section Start   */

.faqs-section-box {
  padding: 100px 0;
}

.empty-div {
  display: block;
}

.faqs-text-box h1 {
  font-size: 46px;
  font-weight: bold;
  margin: 0 0 25px 0;
}

.faqs-colum {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion {
  width: 100%;
}

.accordion-item {
  border: none;
}

.accordion-button {
  border-radius: 100px !important;
  font-size: 22px;
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  color: #13547a;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-body {
  color: #717275 !important;
  font-size: 18px !important;
  list-style: 40px !important;
}

/* FaQs section End   */

/* contact section start   */

.contect-section-box {
  background: #f0f8ff;
  padding: 100px 0;
}

.Get-in-touch {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  margin: 0 0 48px 0;
  color: black;
}

.map {
  border-radius: 20px;
}

.head-office-colum h4 {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 16px 0;
  color: black;
}

.head-office-colum .phone-para {
  color: #717275;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.phone,
.email {
  display: flex;
  align-items: center;
}

.phone,
.email,
span {
  margin: 0 8px 0 0;
  font-size: 20px;
  color: #717275;
  font-family: "Open Sans", sans-serif;
}

.phone,
.email,
a {
  font-size: 16px;
  text-decoration: none;
  color: #80d0c7;
  font-family: "Open Sans", sans-serif;
}

.phone,
.email,
a:hover {
  color: #13547a;
}

/* contact section end   */

/* footer section Start   */

.site-footer {
  border-bottom: 10px solid #80d0c7;
  position: relative;
}

.site-footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 200px;
  border-color: transparent transparent #80d0c7 transparent;
  pointer-events: none;
}

.footer-box {
  padding: 100px 0;
}

.footer-title-text {
  color: #13547a;
  font-size: 22px;
  font-weight: 600;
}

.footer-link-items {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}

.footer-link-items a:hover {
  color: #13547a !important;
}

.language-btn {
  background-color: #80d0c7 !important;
  color: #fff;
  border: none;
  box-shadow: none !important;
}

.language-btn:active,
.language-btn:focus,
.language-btn:hover {
  background-color: #13547a !important;
}

.dropdown-menu-ul {
  background-color: #13547a;
  border-radius: 5px;
}

.dropdown-menu-ul li a {
  color: #fff !important;
}

.dropdown-menu-ul li a:hover {
  background: none;
  color: #80d0c7 !important;
}

.copyright-text {
  color: #717275;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.design-by {
  font-weight: bold;
  transition: 0.6s;
}

.design-by:hover {
  font-size: 17px;
  text-shadow: 2px 2px 4px rgb(83, 83, 83);
}

/* footer section End   */

 /* Media Querry Start  */

@media only screen and (max-width: 1399px) {
  .icon-holder {
    width: 310px;
  }
}

@media only screen and (max-width: 1199px) {
  .navbar-div ul li {
    margin: 0 5px;
  }

  .navbar-div ul li a {
    font-size: 14px;
  }

  .content-box .inp-box {
    width: 75%;
  }

  .shere-box {
    margin: 130px 0 20px 0;
  }

  .icon-holder {
    width: 380px;
  }

  .how-it-work {
    height: 1180px;
  }
}

@media only screen and (max-width: 1040px) {
  .site-footer::after {
    border-width: 0 0 175px 175px;
  }
}

@media only screen and (max-width: 991px) {
  .content-box p {
    font-size: 18px;
  }

  .content-box .inp-box {
    width: 100%;
  }

  .web-heading h2 {
    font-size: 22px;
  }

  .finance-heading h2 {
    font-size: 22px;
  }

  .left-box-text p {
    font-size: 18px;
  }

  .right-box-text p {
    font-size: 18px;
  }

  .shere-box {
    margin: 150px 0 20px 0;
  }

  .browse-box h1 {
    font-size: 36px;
  }

  .topic-ul li {
    margin: 0;
  }

  .topic-ul li button {
    padding: 8px 15px;
    font-size: 16px;
  }

  .web-design-box,
  .graphic-design-box,
  .logo-design-box {
    margin: 10px auto;
  }

  .work-text-box h1 {
    font-size: 36px;
  }

  .timeline-text {
    padding: 25px 0px 0 30px;
  }

  .icon-holder {
    width: 420px;
  }

  .faqs-text-box h1 {
    font-size: 36px;
  }

  .Get-in-touch {
    font-size: 36px;
  }

  .contect-section-box {
    padding: 50px 0;
  }

  .site-footer::after {
    border-width: 0 0 200px 200px;
  }
}

@media only screen and (max-width: 850px) {
  .navbar-div ul li {
    margin: 0;
  }

  .navbar-div ul li a {
    font-size: 13px;
  }
}

@media only screen and (max-width: 800px) {
  .site-footer::after {
    border-width: 0 0 180px 180px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-div ul li {
    font-size: 14px;
    margin: 5px 0;
  }

  .icon-box {
    margin: 12px 0;
  }

  .content-box h1 {
    font-size: 42px;
  }

  .content-box .inp-box {
    height: 65px;
  }

  .content-box .inp-box input::placeholder {
    font-size: 16px;
  }

  .content-box .inp-box i {
    font-size: 20px;
    margin-left: 5px;
  }

  .content-box .inp-box .search-btn {
    padding: 9px 25px;
  }

  .left-box-text {
    margin: 10px 0;
  }

  .right-box-text {
    margin: 10px 0;
  }

  .card-box {
    height: 950px;
  }

  .icon-holder {
    width: 370px;
    height: 110px !important;
  }

  .icon-holder i {
    padding: 25px;
    font-size: 25px;
  }

  .site-footer::after {
    border-width: 0 0 200px 200px;
  }
}

@media only screen and (max-width: 690px) {
  .icon-holder {
    width: 400px;
  }

  .icon-line::before {
    height: 380px;
  }

  .how-it-work {
    height: 1230px;
  }
}

@media only screen and (max-width: 650px) {
  .icon-holder {
    width: 440px;
    height: 108px !important;
  }
}

@media only screen and (max-width: 600px) {
  .design-text p {
    font-size: 18px;
  }

  .icon-holder {
    width: 480px;
  }

  .how-it-work {
    height: 1340px;
  }
}

@media only screen and (max-width: 575px) {
  .content-box .inp-box {
    width: 95%;
  }

  .design-text p {
    font-size: 20px;
    padding: 6px 45px 0 0;
  }

  .timeline-text h2 {
    font-size: 23px;
  }

  .icon-holder {
    width: 530px;
  }
}

@media only screen and (max-width: 550px) {
  .topic-ul li button {
    font-size: 14px !important;
    padding: 8px 10px;
  }
}

@media only screen and (max-width: 520px) {
  .content-box p {
    font-size: 16px;
  }

  .content-box .inp-box {
    height: 60px;
  }

  .content-box .inp-box input::placeholder {
    font-size: 14px;
  }

  .content-box .inp-box .search-btn {
    padding: 8px 19px;
    font-size: 15px;
  }

  .timeline-text p {
    font-size: 17px;
    line-height: 30px;
  }

  .how-it-work {
    height: 1230px;
  }
}

@media only screen and (max-width: 480px) {
  .icon-holder {
    width: 600px;
  }

  .how-it-work {
    height: 1350px;
  }
}

@media only screen and (max-width: 450px) {
  .content-box .inp-box {
    height: 55px;
  }

  .content-box .inp-box input {
    font-size: 16px;
  }

  .content-box .inp-box i {
    font-size: 18px;
    margin-left: 0;
  }

  .content-box .inp-box .search-btn {
    font-size: 13px;
  }

  .browse-box h1 {
    font-size: 28px;
  }

  .topic-ul {
    width: 95%;
  }

  .topic-ul li {
    margin: 3px auto;
  }

  .topic-ul li button {
    font-size: 14px;
    padding: 8px 10px;
  }

  .work-text-box h1 {
    font-size: 28px;
  }

  .icon-holder {
    width: 650px;
  }

  .how-it-work {
    height: 1450px;
  }

  .faqs-text-box h1 {
    font-size: 28px;
  }

  .Get-in-touch {
    font-size: 28px;
  }
}

@media only screen and (max-width: 420px) {
  .icon-holder {
    width: 680px;
    height: 105px !important;
  }

  .icon-holder i {
    padding: 22px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .icon-holder {
    height: 100px !important;
  }

  .icon-line::before {
    height: 470px;
  }

  .how-it-work {
    height: 1550px;
  }
}

@media only screen and (max-width: 380px) {
  .icon-holder {
    width: 750px;
  }

  .how-it-work {
    height: 1650px;
  }
}

@media only screen and (max-width: 354px) {
  .left-box-text p {
    padding: 0;
  }

  .right-box-text p {
    padding: 0;
  }

  .shere-box {
    margin: 120px 0 20px 0;
  }

  .design-text p {
    font-size: 19px;
    padding: 6px 10px 0 0;
  }

  .timeline-text p {
    font-size: 15px;
  }

  .accordion-button {
    font-size: 19px !important;
  }
}

@media only screen and (max-width: 330px) {
  .timeline-text h2 {
    font-size: 20px;
  }

  .icon-holder {
    width: 900px;
  }

  .icon-line::before {
    height: 564px;
  }

  .how-it-work {
    height: 1800px;
  }
}

@media only screen and (max-width: 300px) {
  .content-box h1 {
    font-size: 38px;
  }

  .icon-holder {
    width: 900px;
    height: 90px !important;
  }

  .icon-holder i {
    padding: 20px;
    font-size: 18px;
  }

  .how-it-work {
    height: 1950px;
  }
}

 /* Media Querry Start  */